:root {
  --font-sans-serif: Inter, sans-serif;
  --font-serif: Fraunces, serif;
  --green: #7fcd80;
  --orange: #ff6138;
  --red: #eb5f54;
  --blue: #1863dc;
  --black: #333333;
  --light-gray: #0000001a;
  --dark-gray: #00000099;
  --gray: #00000033;
  --light-yellow: #fffced;
  --white: #ffffff;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-sans-serif);
  font-size: 0.9rem;
  line-height: 1.35;
  font-weight: 600;
  max-width: 1500px;
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-serif);
  line-height: 1.2;
  margin: 0;
}

h1 {
  font-size: 5rem;
  font-weight: 600;
}

h2 {
  font-size: 2.1rem;
  font-weight: 600;
}

h4 {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 600;
}

img {
  display: block;
}

.header-hero {
  background-image: url(../img/One-Earth-lands-and-ocean.png);
  max-width: 100%;
  color: var(--light-yellow);
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  margin: 0 0 0 15rem;
}

.header__nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  font-family: var(--font-serif);
  font-weight: 600;
}

.header__nav-list a {
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  color: var(--light-yellow);
}

.hero {
  color: var(--light-yellow);
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 5rem;
  padding: 5rem;
  font-size: 1rem;
}

.hero h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.hero__grid-right {
  align-self: end;
}

.button {
  display: inline-block;
  border: 1px solid var(--light-yellow);
  border-radius: 1rem;
  padding: 0.8rem 1rem;
  text-decoration: none;
  color: var(--white);
  background: transparent;
  margin: 0.5rem;
  font-size: 1.2rem;
}

.button--orange {
  background: var(--orange);
  border-radius: 0.5rem;
}

.introduction--solution {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5rem;
}

.images--solution {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2rem;
}

.images--solutions h2 {
  font-size: 1.5rem;
}

.roadblock {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 5rem;
  padding: 2rem;
}

.roadblock__grid-right {
  align-self: end;
}

.roadblock__grid-right h5, a {
  font-family: var(--font-serif);
  font-size: 1rem;
  margin-bottom: 1rem;
}

.introduction--tools {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
}

.card--tools button {
  color: var(--dark-gray);
  border: 1px solid var(--dark-gray);
}

.card--tools {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5rem;
  row-gap: 5rem;
}

.card {
  border: 1px solid var(--dark-gray);
  padding: 10px;
}

.component__img {
  display: block;
}

.impact {
   width: 35%;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
   letter-spacing: -0.5px;
   color: var(--dark-gray);
}