:root {
  --font-sans-serif: Inter, sans-serif;
  --font-serif: Fraunces, serif;
  --green: #7fcd80;
  --orange: #ff6138;
  --red: #eb5f54;
  --blue: #1863dc;
  --black: #333333;
  --light-gray: #0000001a;
  --dark-gray: #00000099;
  --gray: #00000033;
  --light-yellow: #fffced;
  --white: #ffffff;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-sans-serif);
  color: var(--dark-gray);
  font-size: 0.9rem;
  margin: 0rem 30rem 0rem 1rem;
  line-height: 1.35;
  font-weight: 600;
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-serif);
  color: var(--black);
  line-height: 1.2;
  margin: 0;
}

h2 {
  font-size: 2.1rem;
  font-weight: 600;
}

h4 {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 600;
}

.impact {
   margin: 0rem 1rem 0rem 18rem;
}