:root {
  --font-sans-serif: Inter, sans-serif;
  --font-serif: Fraunces, serif;
  --green: #7fcd80;
  --orange: #ff6138;
  --red: #eb5f54;
  --blue: #1863dc;
  --black: #333333;
  --light-gray: #0000001a;
  --dark-gray: #00000099;
  --gray: #00000033;
  --light-yellow: #fffced;
  --white: #ffffff;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-sans-serif);
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 300;
  max-width: 1500px;
  background-color: var(--light-yellow);
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-serif);
  line-height: 1.2;
  margin: 0;
}

h1 {
  font-size: 60px;
  font-weight: 500;
}

h2 {
  font-size: 25px;
  font-weight: 400;
}

h4 {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 400;
}

img {
  display: block;
}

/** This is Header section **/
.header-hero {
  background-image: url(../img/One-Earth-lands-and-ocean.png);
  max-width: 100%;
  color: var(--light-yellow);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  margin: 0 0 0 2rem;
}

.header__nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  font-family: var(--font-serif);
  font-weight: 400;
}

.header__nav-list a {
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  color: var(--light-yellow);
}

.hero {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 5rem;
  padding: 5rem;
  max-width: 130rem;
}

.hero h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.hero__grid-right {
  align-self: end;
}

.button {
  display: inline-block;
  border: 1.5px solid var(--light-yellow);
  border-radius: 1rem;
  padding: 10px 15px;
  text-decoration: none;
  color: var(--light-yellow);
  background: transparent;
  margin:0 10px;
  font-weight: 500;
  letter-spacing: 1px;
}

.button--orange {
  background: var(--orange);
  border-radius: 0.5rem;
}

/** This is the Solution section **/
.introduction--solution {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5rem;
}
.images--solution {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 2rem;
  min-height: 600px;
  color: var(--light-yellow);
}
.sectionButton {
  padding: 2rem 0;
  margin-bottom: 1rem;
}
.solution_button {
  display: block;
  width: fit-content;
  padding: 0.5rem;
  margin: 0 auto;
  border: 1px solid var(--dark-gray);
  border-radius: 1rem;
  text-decoration: none;
  background: transparent;
  color: var(--dark-gray);
  font-size: 1rem;
  font-weight: 600;
}
.solution button a {
  color: var(--dark-gray);
  text-decoration: none;
}
.energy-transition {
  background-image: url(../img/windmill.png);
  padding: 1rem;
}
.nature-conservation {
  background-image: url(../img/Lands-and-Oceans.png);
  padding: 1rem;
}
.regenerative {
  background-image: url(../img/ivan-bandura-square.png);
  padding: 1rem;
}

/** This is the Roadblock section **/
.roadblock {
  display: grid;
  background-image: url(../img/lines-green.png) ;
  grid-template-columns: 2fr 1fr;
  column-gap: 5rem;
  padding: 2rem;
}
.roadblock__grid-left {
  background-color: var(--green);
  padding: 1rem;
}
.roadblock__grid-right {
  align-self: end;
}
.roadblock__grid-right h5, a {
  font-family: var(--font-serif);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

/** This is the Tools section **/
.introduction--tools {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
}
.card--button {
  color: var(--dark-gray);
  border: 1px solid var(--dark-gray);
  border-radius: 1rem;
  padding: 0.8rem 1rem;

}
.card--button a {
  color: var(--dark-gray);
  text-decoration: none;
  font-size: 1.2rem;
}
.card--tools {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}
.tool {
  display: grid;
  grid-template-columns: 3fr 1fr;
  border: 1px solid var(--dark-gray);
  padding: 2rem;
  column-gap: 5rem;
}

/** This is the Impact section **/
.impact {
  background-image: url(../img/lines-blue.avif); 
  margin: 0 2rem;
   text-align: left;
   letter-spacing: -0.5px;
   color: var(--dark-gray);
}
.introduction--impact {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.impact table {
  width: 100%;
  table-layout: fixed;
}
.impact button a {
  color: var(--dark-gray);
  font-size: 1.6rem;
  text-decoration: none;
}

/** This is the Network section **/
.card--network {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5rem;
  row-gap: 5rem;
}
.card-1 {
  padding: 10px;
}
blockquote {
  margin: 0;
  font-style: italic;
}
.network button {
  color: var(--dark-gray);
  border: 1px solid var(--dark-gray);
  display: block;
  margin: 0 auto;
}
.network button a {
  color: var(--dark-gray);
  text-decoration: none;
  font-size: 1.2rem;
}

/** This is Prefooter section **/
.card--prefooter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5rem;
  row-gap: 5rem;
  background: linear-gradient(90deg, var(--green), var(--blue), var(--orange));
}
.subbutton {
  color: var(--dark-gray);
  border: 1px solid var(--dark-gray);
  display: inline-block;
  margin: 0.1rem;
  padding: 0.12rem;
}
.prefooter button a {
  color: var(--dark-gray);
  text-decoration: none;
  font-size: 0.8rem;
}

/** This is Footer section **/
.footer {
  position: relative;
  overflow: hidden;
  color: var(--white);
  background-image: url(../img/forest-research.jpg);
  background-size: cover;
  background-position: center;
}

.introduction--footer {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  padding: 2rem;
  margin: 0 5rem;
  position: relative;
   color: var(--white);
}
.card--footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5rem;
  row-gap: 5rem;
}
.card-3 {
  text-align: left;
}
.list__link a {
  text-decoration: none;
  color: var(--white);
}
.list__link ul {
  list-style-type: none;
  font-family: var(--font-sans-serif);
  font-size: 0.2rem;
  line-height: 1.35;
  font-weight: 300;
  color: var(--white);
}
.footer h5 {
  font-size: 1rem;
  font-weight: 600;
}

.footer__nav-list {
  list-style: none;
  padding: 0rem 2rem;
  display: flex;
  font-family: var(--font-sans-serif);
  font-size: 0.6rem;
  font-weight: 400;
  justify-content: space-between;
  align-items: center;
}

.footer__nav-list a {
  text-decoration: none;
  padding: 0rem;
  font-family: var(--font-sans-serif);
  font-size: 0.6rem;
  color: var(--white);
}

.component__img {
  display: block;
}
