<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Components | One Earth </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <!-- This is the header-hero section-->
    <div class="component__img">
        <img srcset="img/header-hero.png" alt="header title" width="1500">
    </div>
    <article class="header-hero">
        <section class="header">
            <img src="img/one-earth.svg" alt="One Earth" width="153" height="70">
            <div class="header__nav">
                <ul class="header__nav-list">
                    <li><a href="#!"> REPORTS</a></li>
                    <li><a href="#!"> TOOLS</a></li>
                    <li><a href="#!"> STORIES</a></li>
                    <li><a href="#!"> ABOUT</a></li>
                    <li><a href="#!" class="button--orange"> Donate</a></li>
                    <li><a href="#!"> Search</a></li>
                </ul>
            </div>
        </section>
        <section class="hero">
            <div class="hero__grid-left"><h1>From us vs. them</h1>
                <h1>One Earth</h1>
                <h2> Turning climate knowledge into global climate action.</h2>
                <p>The solutions to the climate crisis already exist. The next step is coordinated action-local to global.</p>
            </div>
            <div class="hero__grid-right">
                <button class="button"><h3>JOIN THE MOVEMENT</h3></button>
            </div>
        </section>
    </article>

    <!-- This is the solution section-->
    <div class="component__img">
        <img srcset="img/soluti" alt="header title" width="1500">
    </div>




    <div class="component__img">
        <img srcset="img/impact-title.png 1.2x" alt="impact title" width="1500">
    </div>

    <article class="impact">
        <div class="pretitle">
            <h4>Our Impact</h4>
        </div>
        <div class="title">
            <h2>Turning knowledge into action</h2>
        </div>
        <div class="text">
            <p>By identifying and elevating the most effective climate and biodiversity solutions we are helping shape
                policy, guide investments, support grassroots organizations, and galvanize a global movement dedicated
                to regenerating our one Earth.</p>
        </div>
    </article>

</body>

</html>