<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Components | One Earth </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <!-- This is the header-hero section-->
    <div class="component__img">
        <img srcset="img/header-hero.png" alt="header hero" width="1500">
    </div>
    <article class="header-hero">
        <section class="header">
            <img src="img/one-earth.svg" alt="One Earth" width="153" height="70">
            <div class="header__nav">
                <ul class="header__nav-list">
                    <li><a href="#!"> REPORTS</a></li>
                    <li><a href="#!"> TOOLS</a></li>
                    <li><a href="#!"> STORIES</a></li>
                    <li><a href="#!"> ABOUT</a></li>
                    <li><a href="#!" class="button--orange"> Donate</a></li>
                    <li><a href="#!"> Search</a></li>
                </ul>
            </div>
        </section>
        <section class="hero">
            <div class="hero__grid-left"><h1>From us vs. them</h1>
                <h1>One Earth</h1>
                <h2> Turning climate knowledge into global climate action.</h2>
                <p>The solutions to the climate crisis already exist. The next step is coordinated action-local to global.</p>
            </div>
            <div class="hero__grid-right">
                <button class="button"><h3>JOIN THE MOVEMENT</h3></button>
            </div>
        </section>
    </article>

    <!-- This is the solution section-->
    <div class="component__img">
        <img srcset="img/solution.png" alt="solution" width="1500">
    </div>

    <article class="solution">
        <section class="introduction--solution">
            <div class="context--solution">
                <div class="pretitle">
                    <h4>Our Solution Framework</h4>
                </div>
                <div class="title">
                    <h2>One Earth. Three Pillars.</h2>
                </div>
                <div class="text">
                    <p>A science-based roadmap for building a stable and thriving planet. Our framework outlines 75+ climate solutions across three pillars of action that center nature and equity.</p>
                </div>
            </div>
            <div class="space">
            </div>
        </section>

        <section class="images--solution">
            <div class="energy-transition">
                <div class="pretitle">
                    <h4>Pillar I</h4>
                </div>
                <div class="title">
                    <h2>Energy Transition</h2>
                </div>
            </div>

            <div class="nature-conservation">
                <div class="pretitle">
                    <h4>Pillar II</h4>
                </div>
                <div class="title">
                    <h2>Nature Conservation</h2>
                </div>
            </div>

            <div class="regenerative">
                <div class="pretitle">
                    <h4>Pillar III</h4>
                </div>
                <div class="title">
                    <h2>Regenerative Agriculture</h2>
                </div>
            </div>
        </section>
    </article>

    <!-- This is the roadblock section-->
    <div class="component__img">
        <img srcset="img/roadblock.png" alt="roadblocksolution" width="1500">
    </div>

    <article class="roadblock">
        <section class="roadblock__grid-left">
            <div class="context--roadblock">
                <div class="pretitle">
                    <h4>New Report</h4>
                </div>
                <div class="title">
                    <h2>Minding the Gaps: One Earth's Climate Finance Report</h2>
                </div>
                <div class="text">
                    <p>Explore our 2025 report, which reveals the solutions that are well-resourced, what is being overlooked, and where the greatest opportunities for impact exist.</p>
                </div>
            </div>
        </section>
        <section class="roadblock__grid-right">
            <div><h5>Discover the gaps and opportunities</h5></div>
            <div><a href="#!">View the Report</a></div>
        </section>
    </article>

    <!-- This is the tools section-->
    <div class="component__img">
        <img srcset="img/tools.png" alt="tools" width="1500">
    </div>

    <article class="tools">
        <section class="introduction--tools">
            <div class="context--tools">
                <div class="pretitle">
                    <h4>Our Tools</h4>
                </div>
                <div class="title">
                    <h2>Together, we can solve the climate crisis.</h2>
                </div>
            </div>
            <div class="space">
            
            </div>
        </section>   

        <section class="card--tools">
            <div class="card">
                <div class="title">
                    <h2>Solutions Hub</h2>
                </div>
                <div class="text">
                    <p>Dive into stories, science, and projects that bring climate solutions to life. Our Solutions Hub is designed to inspire action and connect you to a worldwide movement of people creating change.</p>
                </div>
                <button class="button"><h5>Explore the Hub</h5></button>
            </div>

            <div class="card">
                <div class="title">
                    <h2>Bioregions Navigator</h2>
                </div>
                <div class="text">
                    <p>Global transformation takes root locally. By caring for your home, you join a worldwide movement to protect our planet. Discover how your bioregion connects you to the Earth's web of life.</p>
                </div>
                <button class="button"><h5>Discover your Bioregion</h5></button>
            </div>

            <div class="card">
                <div class="title">
                    <h2>Global Safety Net</h2>
                </div>
                <div class="text">
                    <p>The blueprint of priority lands and oceans that we most urgently need to protect and restore. Learn more about the science and explore where conservation efforts will have the greatest impact.</p>
                </div>
                <button class="button"><h5>Start Exploring</h5></button>
            </div>

            <div class="card">
                <div class="title">
                    <h2>Solutions Finance Tracker</h2>
                </div>
                <div class="text">
                    <p>A powerful new tool built with our partners at Vibrant Data Labs that maps how billions in climate funding is flowing to solutions across Energy Transition, Nature Conservation, and Regenerative Agriculture.</p>
                </div>
                <button class="button"><h5>Discover the Data</h5></button>
            </div>
        </section>
    </article>

    <div class="component__img">
        <img srcset="img/impact-title.png 1.2x" alt="impact title" width="1500">
    </div>

    <article class="impact">
        <div class="pretitle">
            <h4>Our Impact</h4>
        </div>
        <div class="title">
            <h2>Turning knowledge into action</h2>
        </div>
        <div class="text">
            <p>By identifying and elevating the most effective climate and biodiversity solutions we are helping shape
                policy, guide investments, support grassroots organizations, and galvanize a global movement dedicated
                to regenerating our one Earth.</p>
        </div>
    </article>

    <!-- This is the network section-->
    <div class="component__img">
        <img srcset="img/network.png" alt="network" width="1500">
    </div>

    <article class="network">
        <section class="introduction--network">
            <div class="context--network">
                <div class="pretitle">
                    <h4>Our Network</h4>
                </div>
                <div class="title">
                    <h2>Nature doesn't work in silos, and neither do we</h2>
                </div>
                <div class="text">
                    <p>Lasting solutions emerge when scientists, Indigenous stewards, community and business leaders, policymakers, philanthropists, and citizens unite with a common purpose-turning fragmented efforts into coordinated action for the planet.</p>
                </div>
            </div>
            <div class="space">
            
            </div>
        </section>   

        <section class="card--network">
            <div class="card-1">
                <div class="text">
                    <blockquote>
                    <p>"One Earth is a shining example of what can be achieved when passion and purpose converge. They transform lofty dreams into reality with dedication and determination. Their impact on our world is immense, deserving of our utmost acclaim and gratitude."</p>
                    </blockquote>
                    <p>-Akashinga</p>
                </div>
            </div>

            <div class="card-1">
                <div class="text">
                    <blockquote>
                    <p>"One earth is on the cutting edge of climate and biodiversity science, and is one of the most enlightened organizations around. Their work on supporting Indigenous peoples and nature is one of the most important priorities on the planet."</p>
                    </blockquote>
                    <p>-Jamison Ervin, Manager of UNDP's Global Nature for Development Program</p>
                </div>
            </div>

            <div class="card-1">
                <div class="text">
                    <blockquote>
                    <p>"Perhaps the most amazing benefit of working with One Earth is the degree to which this team lives its values-their generosity of spirit, collaborative approach, and commitment to nature-based solutions are present in every step."</p>
                    </blockquote>
                    <p>-Shira Abramowitz, Founder, Summit Impact</p>
                </div>
            </div>
        </section>

        <button class="button"><h5>Explore our Network</h5></button>
            
    </article>

    <!-- This is the prefooter section-->
    <div class="component__img">
        <img srcset="img/prefooter.png" alt="prefooter" width="1500">
    </div>

    <article class="prefooter">
        <section class="card--prefooter">
            <div class="card-2">
                <div class="title">
                    <h2>Donate</h2>
                </div>
                <div class="subbutton">
                    <button class="button"><p>Donate Now</p></button>
                    <button class="button"><p>Donate Crypto</p></button>
                    <button class="button"><p>Donate Stock</p></button>
                    <button class="button"><p>Donate Through DAF</p></button>
                    <button class="button"><p>More Ways</p></button>
                </div>
            </div>
            
            <div class="card-2">
                <div class="title">
                    <h2>Subscribe</h2>
                </div>
                <div class="subbutton">
                    <button class="button"><p>The One Earth Newsletter</p></button>
                </div>
            </div>

            <div class="card-2">
                <div class="title">
                    <h2>Connect</h2>
                </div>
                <div class="subbutton">
                    <button class="button"><p>Instagram</p></button>
                    <button class="button"><p>Facebook</p></button>
                    <button class="button"><p>Bluesky</p></button>
                    <button class="button"><p>Linkedin</p></button>
                    <button class="button"><p>TikTok</p></button>
                    <button class="button"><p>YouTube</p></button>
                    <button class="button"><p>Medium</p></button>
                    <button class="button"><p>Threads</p></button>
                </div>
            </div>
            
        </section>
            
    </article>

    <!-- This is the footer section-->
    <div class="component__img">
        <img srcset="img/footer.png" alt="footer" width="1500">
    </div>

    <article class="footer">
        <section class="footer__header"></section>

        <section class="introduction--footer">
            <div class="context--footer">
                <div class="title">
                    <h2>Creating momentum with solutions, strategy, and storytelling.</h2>
                </div>
                <div class="text">
                    <p>One Earth provides tools and resources to help philanthropists, investors, policymakers, and everyday citizens create impact where it matters most.</p>
                </div>
            </div>

            <section class="card--footer">
                <div class="card-3">
                    <div class="list__link">
                        <ul>
                            <li class="title"><h5>About</h5></li>
                            <li><a href="https://www.oneearth.org/our-mission/">Mission & Vision</a></li>
                            <li><a href="https://www.oneearth.org/team/">Our Team</a></li>
                            <li><a href="https://www.oneearth.org/advisors/">Advisors</a></li>
                            <li><a href="https://www.oneearth.org/partners/">Our Network</a></li>
                            <li><a href="https://www.oneearth.org/solutions/">Solutions Framework</a></li>
                            <li><a href="https://www.oneearth.org/reports-financials/">Reports & Financials</a></li>
                            <li><a href="https://www.oneearth.org/press">Press</a></li>
                        </ul> 
                    </div>
                </div>
            
                <div class="card-3">
                    <div class="list__link">
                        <ul>
                            <li class="title"><h5>Explore</h5></li>
                            <li><a href="https://www.oneearth.org/categories/">Explore Solutions Hub</a></li>
                            <li><a href="https://www.oneearth.org/bioregions/">Explore Bioregions</a></li>
                            <li><a href="https://www.oneearth.org/stories/">Read Stories</a></li>
                            <li><a href="https://www.oneearth.org/videos/">Watch Videos</a></li>
                            <li><a href="https://www.oneearth.org/books/">Books & Film List</a></li>
                            <li><a href="https://www.oneearth.org/citations/">Research Database</a></li>
                            <li><a href="https://www.oneearth.org/reports/">View Reports</a></li>
                            <li><a href="https://www.oneearth.org/glossary/">Glossary</a></li>
                        </ul> 
                    </div>
                </div>

                <div class="card-3">
                    <div class="list__link">
                        <ul>
                            <li class="title"><h5>Take Action</h5></li>
                            <li><a href="https://www.oneearth.org/join/">Join the Movement</a></li>
                            <li><a href="https://www.oneearth.org/navigator/">Discover your Bioregion</a></li>
                            <li><a href="https://www.oneearth.org/101-climate-solutions-you-can-do-at-home/">101 Home Climate Solutions</a></li>
                            <li><a href="https://www.oneearth.org/contactus/">Contact Us</a></li>
                        </ul> 
                    </div>
                </div>
            </section>
        </section>

        <div class="footer__nav">
            <ul class="footer__nav-list">
                <li><a href="https://www.oneearth.org/sitemap/"> Sitemap</a>|<a href="https://www.oneearth.org/contactus/"> Contact</a></li>
                <li> One Earth | EIN: 85-2588841</li>
                <li><a href="https://www.oneearth.org/terms/"> Terms</a>|<a href="https://www.oneearth.org/policies/"> Policies</a></li>
            </ul>
        </div>
        
            
    </article>

</body>

</html>